.game
  #alert-box
    position: fixed
    left: 50px
    top: 45px
    width: 400px
    color: #fff
    font-size: 32px
    font-weight: 700

    &.affirmative
      color: green

    &.negative
      color: red

    &.completed
      color: #fff

  #game-info
    position: fixed
    top: 100px
    left: 50px
    width: 200px

    #score
      h3
        font-size: 18px

        > div
          display: inline-block
          margin-right: 10px
          font-size: 16px

    #correct-answers
      ul
        padding-left: 0

        li
          list-style: none
          font-size: 12px
          text-decoration: line-through

  #controls
    position: fixed
    top: 60px
    right: 100px

    a#next
      display: block
      padding: 10px 15px
      border: darken($black, 10%)
      border-radius: 5px
      color: #fff
      background: $black
      text-align: center
      font-size: 14px
      font-weight: 700

      &:hover
        cursor: pointer
        background: darken($black, 5%)
