.game
  #alert-box
    position: fixed
    right: 50px
    top: 60px
    width: 400px
    color: #fff
    text-align: center
    font-size: 32px
    font-weight: 700

    &.affirmative
      color: green

    &.negative
      color: red

    &.completed
      color: #fff
