%div{ id: "map-#{@region.slug}" }
  %ul{ class: @region.slug }
    - @region.countries.each do |country|
      %li{ class: "#{country[:map_id]}" }
        %a{ href: "##{country[:slug]}" } #{country[:name]}
