%div{ id: "map-#{@region.slug}" }
  %ul{ class: @region.slug }
    - @region.countries_list.each do |member|
      %li{ class: "#{member[:identifier]}" }
        %a{ href: "#{member[:href]}" } #{member[:name]}
